blinker
boto3
botocore
colorama
Flask
Flask-Cors
greenlet
itsdangerous
Jinja2
jmespath
MarkupSafe
path
psycopg2
python-dateutil
python-dotenv
s3transfer
six
SQLAlchemy
typing_extensions
urllib3
Werkzeug
